

<div class="container">

    <table class="table table-hover">
        <tr>
            <td>Attendance Times</td>
            <td>@TempData["Attendance"]</td>
        </tr>
        <tr>
            <td>Late Times</td>
            <td>@TempData["late"]</td>
        </tr>
        <tr>
            <td>Absence Times</td>
            <td>@TempData["Absence"]</td>
        </tr>
    </table>

</div>

