
@{
    ViewBag.Title = "TimeAttend";
}

<h2>TimeAttend</h2>

<div class="container">

    <table class="table table-hover">
        <tr>
            <td>Employee Name</td>
            <td>@TempData["UserName"]</td>
        </tr>
        <tr>
            <td>Attendance Time</td>
            <td>@TempData["Attend"]</td>
        </tr>
    </table>

</div>